/* styles for mia musician webpage */


body {
	background-color: #168E16;
	margin: 0;
}

header {
	padding: 2em;
}

header img {
	width: 50%;
	max-width: 300px;
}

.social {
	width: 100%;
	max-width: 80px;
	float: right;
	background-color: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.social a {
	display: block;
	margin: auto;
	text-align: center;
	padding: 0.5em;
}

.albumContainer {
	background-color: none;
	width: 70%;
	max-width: 5000px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.albumBorderOne {
	background-color: black;
	width: 50%;
	max-width: 300px;
	padding: 1em;
	margin:1em;
}

.albumBorderTwo {
	background-color: black;
	width: 50%;
	max-width: 300px;
	padding: 1em;
	margin:1em;
}

.albumBorderThree {
	background-color: black;
	width: 50%;
	max-width: 300px;
	padding: 1em;
	margin:1em;
}

.albumBorderFour {
	background-color: black;
	width: 50%;
	max-width: 300px;
	padding: 1em;
	margin:1em;
}

.albumBorderFive {
	background-color: black;
	width: 50%;
	max-width: 300px;
	padding: 1em;
	margin:1em;
}

.albumBorderSix {
	background-color: black;
	width: 50%;
	max-width: 300px;
	padding: 1em;
	margin: 1em;
}

footer {
	background-color: white;
	left: 0;
	bottom: 0;
	right: 0;
}

.flexChildren {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer img{
	width: 10%;
	max-width: 300px;
	margin-bottom: 1em;
}

.imageIncrease {
	background-color: black;
	padding: 1em;
	text-align: right;
}

.imageIncreaseTwo {
	background-color: black;
	padding: 1em;
	text-align: center;
}
